#topbar
  top: 0
  position: fixed
  background-color: black
  height: 50px
  z-index: 100
  padding: 0 0 0 5%

#topbar button
  margin-left: 100px
  background-color: #151515
  border-radius: 1px

.logo-menu
  line-height: 15px
  font-size: 15px
  color: white
  text-decoration: none

.logo-menu img
  height: 15px
  vertical-align: middle
  padding-bottom: 3px

.starwars img
  height: 12px
