::ng-deep .mat-dialog-container
  border-radius: 0

#details-intro
  display: flex
  justify-content: space-between

#details-reading
  min-width: 40%
  padding-left: 20px

#details-reading-mobile
  padding-top: 20px
  margin-bottom: 20px

#details-reading-title
  font-size: 15px
  margin-bottom: 5px

.details-reading-essential
  color: #d60000
  text-decoration: underline

.details-reading-essential:hover
  color: #b20000
  cursor: pointer

.details-reading-optional
  color: #cecece
  text-decoration: underline

.details-reading-optional:hover
  color: #a7a7a7
  cursor: pointer

#details-issue-table
  width: 100%
  margin-top: 10px

.issue-block
  margin-top: 10px
  color: #cecece
  font-size: 12px

.mat-cell
  color: #cecece

.row-essential
  color: #359934

.row-optional
  color: #f38b1c

tr.mat-row
  height: 30px






