<h1 mat-dialog-title>{{data.arc.title}}</h1>
<div mat-dialog-content *ngIf=" !(isMobile | async)?.matches">
  <div id="details-intro">
    <div id="details-description">
      {{data.arc.comment}}
    </div>
    <div id="details-reading" *ngIf="data.arc.reading &&
      ((data.arc.reading.essential && (data.arc.reading.essential | reading:'essential':data.issueValue:data.collectionValue).length > 0) ||
      (data.arc.reading.optional && (data.arc.reading.optional | reading:'optional':data.issueValue:data.collectionValue).length > 0))">
      <div id="details-reading-title">Pre-reading</div>
      <div *ngIf="data.arc.reading.essential">
        <div *ngFor="let reading of data.arc.reading.essential | reading:'essential':data.issueValue:data.collectionValue">
          <div class="details-reading-essential" (click)="onReading(reading.ref)">{{reading.title}}</div>
        </div>
      </div>
      <div *ngFor="let reading of data.arc.reading.optional | reading:'optional':data.issueValue:data.collectionValue">
        <div class="details-reading-optional" (click)="onReading(reading.ref)">{{reading.title}}</div>
      </div>
    </div>
  </div>
  <table mat-table [dataSource]="data.arc | issue:data.issueValue:data.collectionValue" id="details-issue-table">
    <ng-container matColumnDef="issue">
      <th mat-header-cell *matHeaderCellDef>Issue</th>
      <td mat-cell *matCellDef="let issue"
          [ngClass]="{'issue-row':true,
                      'row-essential': data.collectionValue == 'all' && (issue | issueImportance:data.arc:'essential'),
                      'row-optional': data.collectionValue == 'all' && (issue | issueImportance:data.arc:'optional') &&
                        !(issue | issueImportance:data.arc:'essential')}">
        <span>{{issue.title}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="trade">
      <th mat-header-cell *matHeaderCellDef>Trade</th>
      <td mat-cell *matCellDef="let issue"
          [ngClass]="{'row-essential': data.collectionValue == 'all' && (issue | issueImportance:data.arc:'essential'),
                      'row-optional': data.collectionValue == 'all' && (issue | issueImportance:data.arc:'optional') &&
                        !(issue | issueImportance:data.arc:'essential')}">
        <span *ngIf="issue.trade && !issue.tradeLink">{{issue.trade}}</span>
        <a *ngIf="issue.trade && issue.tradeLink" href="{{issue.tradeLink}}" target="_blank">{{issue.trade}}</a>
        <span *ngIf="!issue.trade && !data.arc.tradeLink">{{data.arc.trade}}</span>
        <a *ngIf="!issue.trade && data.arc.tradeLink" href="{{data.arc.tradeLink}}" target="_blank">{{data.arc.trade}}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="omnibus">
      <th mat-header-cell *matHeaderCellDef>Omnibus</th>
      <td mat-cell *matCellDef="let issue"
          [ngClass]="{'row-essential': data.collectionValue == 'all' && (issue | issueImportance:data.arc:'essential'),
                      'row-optional': data.collectionValue == 'all' && (issue | issueImportance:data.arc:'optional') &&
                        !(issue | issueImportance:data.arc:'essential')}">
        <span *ngIf="issue.omnibus">{{issue.omnibus}}</span>
        <span *ngIf="!issue.omnibus">{{data.arc.omnibus}}</span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div mat-dialog-content *ngIf=" (isMobile | async)?.matches">
  <div id="details-description-mobile">
    {{data.arc.comment}}
  </div>
  <div id="details-reading-mobile" *ngIf="data.arc.reading &&
      ((data.arc.reading.essential && (data.arc.reading.essential | reading:'essential':data.issueValue:data.collectionValue).length > 0) ||
      (data.arc.reading.optional && (data.arc.reading.optional | reading:'optional':data.issueValue:data.collectionValue).length > 0))">
    <div id="details-reading-title">Pre-reading</div>
    <div *ngIf="data.arc.reading.essential">
      <div *ngFor="let reading of data.arc.reading.essential | reading:'essential':data.issueValue:data.collectionValue">
        <div class="details-reading-essential" (click)="onReading(reading.ref)">{{reading.title}}</div>
      </div>
    </div>
    <div *ngFor="let reading of data.arc.reading.optional | reading:'optional':data.issueValue:data.collectionValue">
      <div class="details-reading-optional" (click)="onReading(reading.ref)">{{reading.title}}</div>
    </div>
  </div>
  <div *ngFor="let issue of data.arc | issue:data.issueValue:data.collectionValue"
       [ngClass]="{'issue-block':true,
                   'row-essential': data.collectionValue == 'all' && (issue | issueImportance:data.arc:'essential'),
                   'row-optional': data.collectionValue == 'all' && (issue | issueImportance:data.arc:'optional') &&
                        !(issue | issueImportance:data.arc:'essential')}">
    <div>Issue: {{issue.title}}</div>
    <div>
      Trade:
      <span *ngIf="issue.trade && !issue.tradeLink">{{issue.trade}}</span>
      <a *ngIf="issue.trade && issue.tradeLink" href="{{issue.tradeLink}}" target="_blank">{{issue.trade}}</a>
      <span *ngIf="!issue.trade && !data.arc.tradeLink">{{data.arc.trade}}</span>
      <a *ngIf="!issue.trade && data.arc.tradeLink" href="{{data.arc.tradeLink}}" target="_blank">{{data.arc.trade}}</a>
    </div>
    <div>
      Omnibus:
      <span *ngIf="issue.omnibus">{{issue.omnibus}}</span>
      <span *ngIf="!issue.omnibus">{{data.arc.omnibus}}</span>
    </div>
  </div>
</div>
