.card-new
  width: 340px
  background-color: #484848
  margin: 5px 5px 0 0
  padding: 5px
  border-radius: 5px
.card-new.mobile
  margin-right: 0
  width: 100%
  box-sizing: border-box
.card-new:hover
  background-color: #3e3e3e
  cursor: pointer

.card-new .content
  display: flex
  overflow: hidden
  height: 190px
.card-new.mobile .content
  height: 150px

.card-new .image
  width: 130px
  height: 190px
  margin-right: 10px
.card-new.mobile .image
  width: 100px
  height: 150px
.card-new .image img
  width: 130px
  height: 190px
  object-fit: cover
  object-position: 50% 0
  border-radius: 5px
.card-new.mobile .image img
  width: 100px
  height: 150px

.card-new .title
  font-size: 16px
  margin-bottom: 10px
.card-new.mobile .title
  font-size: 18px

.card-new.mobile .description
  font-size: 16px


.card-new.essential
  background-color: #359934
.card-new.optional
  background-color: #f38b1c


