<div id="{{arc.ref}}" class="card-new mat-elevation-z1"
     [ngClass]="{
       mobile: (isMobile | async)?.matches,
       essential: collectionValue == 'all' && (arc | arcImportance:'essential'),
       optional: collectionValue == 'all' && (arc | arcImportance:'optional') && !(arc | arcImportance:'essential')
     }"
     (click)="openDialog(true)">
  <div class="content">
    <div class="image">
      <img src="assets/img/marvelcomics/arc/{{arc.ref}}.jpg" alt="{{arc.title}}"
           onerror="this.src='assets/img/marvelcomics/arc/placeholder.jpg';">
    </div>
    <div class="right">
      <div class="title">{{arc.title}}</div>
      <div class="description">{{arc.comment}}</div>
    </div>
  </div>
</div>
