<!--<div id="{{arc.ref}}" [ngClass]="{'card': !(isMobile | async)?.matches,-->
<!--                 'card-mobile': (isMobile | async)?.matches,-->
<!--                 'card-long-title' : arc.title | cardTitle,-->
<!--                 'card-essential': collectionValue == 'all' && (arc | arcImportance:'essential') && !(isMobile | async)?.matches,-->
<!--                 'card-essential-mobile': collectionValue == 'all' && (arc | arcImportance:'essential') && (isMobile | async)?.matches,-->
<!--                 'card-optional': collectionValue == 'all' && (arc | arcImportance:'optional') && !(arc | arcImportance:'essential') && !(isMobile | async)?.matches,-->
<!--                 'card-optional-mobile': collectionValue == 'all' && (arc | arcImportance:'optional') && !(arc | arcImportance:'essential') && (isMobile | async)?.matches}"-->
<!--     (click)="openDialog(true)">-->
<!--  <div [ngClass]="{'card-title': !(isMobile | async)?.matches,-->
<!--                   'card-title-mobile': (isMobile | async)?.matches}">{{arc.title | cardTitleSize:31}}</div>-->
<!--  <div [ngClass]="{'card-img': !(isMobile | async)?.matches,-->
<!--                   'card-img-mobile': (isMobile | async)?.matches}">-->
<!--    <img src="assets/img/marvelcomics/arc/{{arc.ref}}.jpg"-->
<!--         onerror="this.src='assets/img/marvelcomics/arc/placeholder.jpg';"-->
<!--         alt="{{arc.title}}">-->
<!--  </div>-->
<!--  <div class="card-comment" *ngIf="!(isMobile | async)?.matches">{{arc.comment| cardTitleSize:85}}</div>-->
<!--</div>-->


<div id="{{arc.ref}}" class="card-new mat-elevation-z1" (click)="openDialog(true)">
  <div class="content">
    <div class="image">
      <img src="assets/img/marvelcomics/arc/{{arc.ref}}.jpg" alt="{{arc.title}}"
           onerror="this.src='assets/img/marvelcomics/arc/placeholder.jpg';">
    </div>
    <div class="right">
      <div class="title">{{arc.title}}</div>
      <div class="description">{{arc.comment}}</div>
    </div>
  </div>
</div>
