<div id="{{data.ref}}" class="card mat-elevation-z1"
     [ngClass]="{mobile: (isMobile | async)?.matches, flag: data.flag}"
     *ngIf="types.includes(data.type)"
     (click)="goToLink('https://starwars.fandom.com/wiki/'+data.link)"
     mat-ripple>
  <div class="image"><img src="assets/img/starwars/{{data.ref}}.jpg"></div>
  <div class="content">
    <div class="title">
      <mat-icon class="icon-book" *ngIf="data.type == 'book'">auto_stories</mat-icon>
      <mat-icon class="icon-comic" *ngIf="data.type == 'comic'">dashboard</mat-icon>
      <mat-icon class="icon-animation" *ngIf="data.type == 'animation'">tv</mat-icon>
      <mat-icon class="icon-live" *ngIf="data.type == 'live'">movie</mat-icon>
      <div class="text">{{data.title}}</div>
    </div>
    <div class="details">
      <div class="text">{{data.description}}</div>
      <div class="elt" *ngFor="let elt of data.content">{{elt}}</div>
    </div>
  </div>
</div>
