.card
  width: 370px
  margin: 5px 5px 0 0
  height: 200px
  display: flex
  background-color: #2e2e2e

.card-flag
  background-color: #2e0e0c

.card-content
  width: 220px

.card:hover
  opacity: 0.5
  cursor: pointer

.card-title
  font-size: 14px
  padding: 10px 10px 5px
  vertical-align: middle
  display: flex

.card-title mat-icon
  font-size: 22px
  margin-right: 5px
  vertical-align: middle

.icon-book
  color: #3847ff
.icon-comic
  color: #e3d700
.icon-animation
  color: #00b706
.icon-live
  color: #d00003

.card-img
  width: 150px
  height: 200px

.card-img img
  width: 150px
  height: 200px
  object-fit: cover
  object-position: 50% 50%

.card-details
  font-size: 12px
  padding: 5px 10px 10px
