<mat-toolbar id="picker" *ngIf="!(isMobile | async)?.matches">
  <div class="right">
    <div class="selector">
      <mc-picker-collection [picker]="collectionValue"
                            (pickerChangeEventEmitter)="onCollectionChange($event)">
      </mc-picker-collection>
    </div>
    <div class="selector" *ngIf="collectionValue == 'all'">
      <mc-picker-issue [picker]="issueValue"
                       (pickerChangeEventEmitter)="onIssueChange($event)">
      </mc-picker-issue>
    </div>
  </div>

  <div class="changelog">
    <button mat-raised-button (click)="openUpdate()">Changelog</button>
  </div>
</mat-toolbar>


<mat-toolbar id="picker-mobile" *ngIf="(isMobile | async)?.matches">
  <mat-toolbar-row>
    <div class="changelog">
      <button mat-raised-button (click)="openUpdate()">Changelog</button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div class="selector">
      <mc-picker-collection [picker]="collectionValue"
                            (pickerChangeEventEmitter)="onCollectionChange($event)">
      </mc-picker-collection>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="collectionValue == 'all'">
    <div class="selector">
      <mc-picker-issue [picker]="issueValue"
                       (pickerChangeEventEmitter)="onIssueChange($event)">
      </mc-picker-issue>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

