<mat-label>Collection:</mat-label>
<mat-form-field class="picker-selector-{{picker | lowercase}}">
  <mat-select [(value)]="picker"
              [disableOptionCentering]="true"
              (selectionChange)="pickerChange()">
    <mat-option id="picker-selector-option-all" class="picker-selector-option" value="all">All</mat-option>
    <mat-option *ngFor="let collection of collections"
                id="picker-selector-option-{{collection.ref | lowercase}}"
                class="picker-selector-option" value="{{collection.ref}}">
      {{collection.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
