#picker
  margin-bottom: 30px
  display: flex
  justify-content: space-between
  background-color: #151515
  padding: 0
#picker-mobile
  margin-bottom: 30px
  background-color: #151515
  padding: 0
#picker-mobile .mat-toolbar-row
  padding: 0

#picker .right
  display: flex
  align-items: flex-start

#picker .selector
  font-size: 15px
  background-color: #2e2e2e
  border-radius: 5px
  margin-right: 10px
  padding: 5px
  height: 40px
#picker-mobile .selector
  font-size: 16px
  background-color: #2e2e2e
  border-radius: 5px
  padding: 5px
  height: 40px
  width: 100%

::ng-deep #picker .selector .mat-form-field-infix, ::ng-deep #picker-mobile .selector .mat-form-field-infix
  border-top: 0

#picker .changelog button, #picker-mobile .changelog button
  background-color: #f0141e
#picker-mobile .changelog, #picker-mobile .changelog button
  width: 100%
  font-size: 16px
