//#picker-selector #picker-selector-collection
//  width: 120px

#picker-selector-option-all.mat-selected
  color: white !important

.picker-selector-cm
  color: #f5483e
#picker-selector-option-cm
  background: #f5483e
#picker-selector-option-cm.mat-selected
  color: white !important

.picker-selector-gg
  color: #ffe200
#picker-selector-option-gg
  background: #ffe200
  color: black
#picker-selector-option-gg.mat-selected
  color: black !important

.picker-selector-a
  color: #e4e3ff
#picker-selector-option-a
  background: #e4e3ff
  color: black
#picker-selector-option-a.mat-selected
  color: black !important

.picker-selector-n
  color: #384fd6
#picker-selector-option-n
  background: #384fd6
#picker-selector-option-n.mat-selected
  color: white !important

.picker-selector-th
  color: #ae50f1
#picker-selector-option-th
  background: #ae50f1
#picker-selector-option-th.mat-selected
  color: white !important

.picker-selector-ss
  color: silver
#picker-selector-option-ss
  background: silver
  color: black
#picker-selector-option-ss.mat-selected
  color: black !important

.picker-selector-aw
  color: orange
#picker-selector-option-aw
  background: orange
#picker-selector-option-aw.mat-selected
  color: white !important

.picker-selector-q
  color: #b82200
#picker-selector-option-q
  background: #b82200
#picker-selector-option-q.mat-selected
  color: white !important

.picker-selector-x
  color: #d7555f
#picker-selector-option-x
  background: #d7555f
#picker-selector-option-x.mat-selected
  color: white !important

.picker-selector-ih
  color: #216685
#picker-selector-option-ih
  background: #216685
#picker-selector-option-ih.mat-selected
  color: white !important
