<mat-label>Issues:</mat-label>
<mat-form-field>
  <mat-select [(value)]="picker"
              [disableOptionCentering]="true"
              (selectionChange)="pickerChange()"
              [ngClass]="{'picker-selector-optional':picker == 'optional',
                    'picker-selector-essential':picker == 'essential'}">
    <mat-option class="picker-selector-option" value="all">All</mat-option>
    <mat-option id="picker-selector-option-optional" class="picker-selector-option" value="optional">
      Optional
      <mat-icon *ngIf="!mobile" matTooltip="Show only the issues connected to the main storyline">
        help_outline
      </mat-icon>
    </mat-option>
    <mat-option id="picker-selector-option-essential" class="picker-selector-option" value="essential">
      Essential
      <mat-icon *ngIf="!mobile" matTooltip="Show only the major issues needed to understand the main storyline">
        help_outline
      </mat-icon>
    </mat-option>
  </mat-select>
</mat-form-field>
