.picker-selector-optional
  color: #f38b1c

.picker-selector-essential
  color: #359934

#picker-selector-option-optional
  background-color: #f38b1c

#picker-selector-option-essential
  background-color: #359934

.picker-selector-option .mat-icon
  font-size: 21px
  margin-left: 5px
