<mat-form-field>
  <mat-select [(value)]="picker" [disableOptionCentering]="true" (selectionChange)="pickerChange()"
              [ngClass]="{'selector-optional':picker == 'optional',
                    'selector-essential':picker == 'essential'}">
    <mat-option class="selector-option" value="all">All issues</mat-option>
    <mat-option id="selector-option-optional" class="selector-option" value="optional">
      Essential and optional
    </mat-option>
    <mat-option id="selector-option-essential" class="selector-option" value="essential">
      Essential only
    </mat-option>
  </mat-select>
</mat-form-field>
