<app-topbar></app-topbar>

<div id="marvel-comics" [ngClass]="{mobile: (isMobile | async)?.matches}">
  <div id="logo"><img src="assets/img/marvelcomics/logo.png" alt="MARVEL "/>COSMIC</div>
  <mc-intro (openArcEventEmitter)="openArcForIntro($event)"></mc-intro>

  <mc-picker [data]="data"
             [issueValue]="issueValue"
             [collectionValue]="collectionValue"
             (issueChangeEventEmitter)="onIssueChange($event)"
             (collectionChangeEventEmitter)="onCollectionChange($event)"
             (openArcEventEmitter)="openArcForUpdate($event)">
  </mc-picker>


  <div *ngFor="let era of data" class="era">
    <div class="title">- {{era.title}} -</div>
    <div class="description">
      <div>{{era.comment}}</div>
    </div>

    <mc-list [data]="data"
             [sections]=era.sections
             [issueValue]="issueValue"
             [collectionValue]="collectionValue"
             [arcValue]="arcValue"
             (openArcEventEmitter)="openArcForReading($event)"
             (closeArcEventEmitter)="closeArc()">
    </mc-list>
  </div>




</div>
