#marvel-comics
  max-width: 1920px
  padding-bottom: 20px
  margin: auto
  padding-left: 5%
  padding-right: 5%

#marvel-comics .era
  margin-bottom: 10px
  background-color: #2e2e2e
  padding: 20px
  border-radius: 10px

#marvel-comics .era .title
  text-align: center
  font-size: 25px
  color: #ffd400
  margin-bottom: 30px

#marvel-comics .era .description
  margin-bottom: 20px
  max-width: 900px
  margin-left: auto
  margin-right: auto


::ng-deep ::-webkit-scrollbar
  width: 10px

::ng-deep ::-webkit-scrollbar-track
  background: #2d2d2d

::ng-deep ::-webkit-scrollbar-thumb
  background-color: #4b4b4b
  border: none
  border-radius: 5px



#content
  padding-left: 5%
  padding-right: 5%
  padding-bottom: 20px

#logo
  text-align: center
  font-size: 30px
  margin-bottom: 30px
  line-height: 30px
  padding-top: 70px

#logo img
  height: 30px
  vertical-align: middle
  padding-bottom: 6px
