#intro
  text-align: left
  margin-bottom: 50px
  display: flex
  justify-content: center

#intro img
  height: 360px
  margin-right: 20px

#faq
  margin-top: 30px

.faq-title
  margin-bottom: 5px
  margin-top: 15px
  font-size: 16px
  color: #d60000

.start-link
  color: white
  text-decoration: underline

.start-link:hover
  color: #cecece
  cursor: pointer
