#picker
  background: #2e2e2e
  height: 50px
  z-index: 50
  margin-bottom: 30px
  display: flex
  justify-content: space-between
  align-items: center
  padding-left: 15px
  padding-right: 15px

#picker-right
  display: flex
  align-items: flex-start

#picker-right mat-icon
  height: 100%
  line-height: 60px
  vertical-align: center
  margin-right: 10px

.picker-selector
  font-size: 15px

::ng-deep .picker-starwars .picker-selector mat-form-field-wrapper, ::ng-deep .picker-starwars .picker-selector mat-form-field
  margin-left: 5px
  margin-right: 30px
  width: 300px

::ng-deep .mat-select-panel
  border-radius: 0 !important

.option-books, ::ng-deep .option-books .mat-selected, ::ng-deep .option-books .mat-pseudo-checkbox
  color: #3847ff !important
::ng-deep .option-books .mat-pseudo-checkbox-checked
  background: #3847ff !important

.option-comics, ::ng-deep .option-comics .mat-selected, ::ng-deep .option-comics .mat-pseudo-checkbox
  color: #e3d700 !important
::ng-deep .option-comics .mat-pseudo-checkbox-checked
  background: #e3d700 !important

.option-animation, ::ng-deep .option-animation .mat-selected, ::ng-deep .option-animation .mat-pseudo-checkbox
  color: #00b706 !important
::ng-deep .option-animation .mat-pseudo-checkbox-checked
  background: #00b706 !important

.option-liveaction, ::ng-deep .option-liveaction .mat-selected, ::ng-deep .option-liveaction .mat-pseudo-checkbox
  color: #d00003 !important
::ng-deep .option-liveaction .mat-pseudo-checkbox-checked
  background: #d00003 !important




