#intro
  text-align: justify
  margin-bottom: 50px
  display: flex
  justify-content: center
#intro.mobile
  font-size: 16px
  margin-bottom: 30px

#intro .content
  display: flex
  max-width: 1200px

#intro img
  height: 360px
  margin-right: 20px

#intro .not-listed
  margin-top: 30px
#intro .not-listed ul
  margin: 0
  padding-left: 15px
  list-style-type: square
#intro .not-listed .elt
  padding-top: 5px
#intro .not-listed .click:hover
  color: #cecece
  cursor: pointer
