.list .expand .mat-button
  width: 24px
  min-width: 0
  line-height: 24px
  padding: 0
  margin-bottom: 5px

.list .expand
  padding-left: 20px
.list.mobile .expand
  padding-left: 0

.list .sections
  padding-right: 20px
  padding-left: 20px
  padding-bottom: 1px
.list.mobile .sections
  padding-right: 0
  padding-left: 0
  padding-bottom: 0

