<mat-expansion-panel [expanded]="expanded">
  <mat-expansion-panel-header>
    <mat-panel-title>{{section.title}}</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="cards">
    <mc-list-card *ngFor="let arc of (section.arcs | arc:issueValue:collectionValue)"
                  [id]="arc.ref"
                  [arc]="arc"
                  [issueValue]="issueValue"
                  [collectionValue]="collectionValue"
                  [arcValue]="arcValue"
                  (openArcEventEmitter)="openArc($event)"
                  (closeArcEventEmitter)="closeArc()">
    </mc-list-card>
  </div>
</mat-expansion-panel>

